body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom right, #00ffcc 0%, #ff99cc 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    flex-direction: row;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    overflow-wrap: anywhere;
}

li p {
    margin: 0;
    padding-right: 5px;
}

.completed {
    text-decoration: line-through;
    color: green;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
